# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
/.vscode
/demos/Daily/20260813/Multilingual/IntDir
/demos/Daily/20260813/Multilingual/Multilingual-MFC-Solution.suo
/demos/Daily/20260813/Multilingual/Multilingual-MFC-Solution.sdf
/demos/Daily/20260813/Multilingual/Output
/demos/Daily/20260813/Multilingual/MFC/VehUtil/VehUtil.aps
/demos/Daily/20260813/Multilingual/MFC/VehUtil/VehUtil.vcxproj.user
/demos/Daily/20260813/Multilingual/Multilingual-MFC-MSVC2010.sdf
/demos/Daily/20260813/Multilingual/Multilingual-MFC-MSVC2010.opensdf
